<div>
  <label>
      user id
      <input type="text" [value]="userId" (input)="setUserId($event)">
  </label>
  <label>
      limit
      <input type="text" [value]="limit" (input)="setLimit($event)">
  </label>
  <label>
      offset
      <input type="text" [value]="offset" (input)="setOffset($event)">
  </label>
  <button (click)="handleButtonClick()">Filter</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Title</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item["id"] }}</td>
        <td>{{ item["user"]["name"] }}</td>
        <td>{{ item["title"] }}</td>
        <td>{{ item["completed"] }}</td>
      </tr>
    </tbody>
  </table>
</div>

